In [1]:
import pandas as pd 
import numpy as np 
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
df=pd.read_csv("cleaned_ames.csv")
df

,SalePrice,Overall Qual,Gr Liv Area,Garage Cars,Total Bsmt SF,Year Built,Year Remod/Add,Full Bath,Foundation_PConc,Fireplaces,BsmtFin Type 1_GLQ,Mas Vnr Area,Neighborhood_NridgHt,BsmtFin SF 1
0,215000,6,1656,2.0,1080.0,1960,1960,1,False,2,False,112.0,False,639.0
1,105000,5,896,1.0,882.0,1961,1961,1,False,0,False,0.0,False,468.0
2,172000,6,1329,1.0,1329.0,1958,1958,1,False,0,False,108.0,False,923.0
3,244000,7,2110,2.0,2110.0,1968,1968,2,False,2,False,0.0,False,1065.0
4,189900,5,1629,2.0,928.0,1997,1998,2,True,1,True,0.0,False,791.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2899,142500,6,1003,2.0,1003.0,1984,1984,1,False,0,True,0.0,False,819.0
2900,131000,5,902,2.0,864.0,1983,1983,1,False,0,False,0.0,False,301.0
2901,132000,5,970,0.0,912.0,1992,1992,1,True,0,True,0.0,False,337.0
2902,170000,5,1389,2.0,1389.0,1974,1975,1,False,1,False,0.0,False,1071.0
2903,188000,7,2000,3.0,996.0,1993,1994,2,True,1,False,94.0,False,758.0

In [5]:
X = df[['Overall Qual', 'Gr Liv Area', 'Garage Cars', 'Total Bsmt SF', 'Year Built', 
        'Year Remod/Add', 'Full Bath', 'Foundation_PConc', 'Fireplaces', 
        'BsmtFin Type 1_GLQ', 'Mas Vnr Area', 'Neighborhood_NridgHt', 'BsmtFin SF 1']]
y = df['SalePrice']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
reg=linear_model.LinearRegression()
reg.fit(X_train, y_train)
y_pred = reg.predict(X_test)

# R² score
r2 = r2_score(y_test, y_pred)
print(f"R² score on the test set: {r2}")

# # Mean Absolute Error (MAE)
# mae = mean_absolute_error(y_test, y_pred)
# print(f"Mean Absolute Error (MAE): {mae}")

# # Mean Squared Error (MSE)
# mse = mean_squared_error(y_test, y_pred)
# print(f"Mean Squared Error (MSE): {mse}")

# # Root Mean Squared Error (RMSE)
# rmse = mean_squared_error(y_test, y_pred)
# print(f"Root Mean Squared Error (RMSE): {rmse}")

# # score = reg.score(X_test, y_test)

# # print(f"R² score on the test set: {score}")

R² score on the test set: 0.8222041664087659

In [ ]:

# reg.fit(df[['Overall Qual', 'Gr Liv Area', 'Garage Cars',
#        'Total Bsmt SF', 'Year Built', 'Year Remod/Add', 'Full Bath',
#        'Foundation_PConc', 'Fireplaces', 'BsmtFin Type 1_GLQ', 'Mas Vnr Area',
#        'Neighborhood_NridgHt', 'BsmtFin SF 1']],df.SalePrice)

In [ ]:
# reg.coef_

In [ ]:
# reg.intercept_  #c